section {
    display: flex;
}

.auto1 {
    width: 50%;
    height: 400px;
    background-color: white;
}

.auto1 img {
    width: 90%;
}

.obrazok {
    text-align: center;
    padding-right: 10px;
}