:root {
    --farba-pozadia: rgb(95, 71, 27);
    --farba-pozadia2: rgb(251, 168, 12);
    --farba-tlacitko: rgb(163, 236, 173);
    --farba-tlacitko2: rgb(58, 104, 218);
    --farba-auta: brown;
    --farba-blog: rgb(71, 121, 46);
    --farba-kontakt: aqua;
    --farba-kontakt2: rgb(28, 134, 210);
    --farba-kontakt_tlacitko: rgb(171, 196, 31);
    --farba-gg: rgb(219, 123, 123);
}

*, body {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
}

.website {
    width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: var(--farba-pozadia);
}

ul li {
    list-style: none;
    display: inline;
    margin-inline: 20px;
}

.navbar {
    display: flex;
    flex-direction: column;
}
